@import 'general.css';

:root{
    --background: rgba(247, 0, 0, 0.425);
}

body{
    background-image: url(../media/images/industry/dotsection5.svg),
                    url(../media/images/hero-bg.svg);
    background-repeat: no-repeat;
    background-size: 50%, auto;
    background-blend-mode: lighten;
    background-position: center;
    height: 100vh;

    .btn-container{
     background: var(--background);   
     height: inherit;
     display: flex;
     justify-content: center;
     align-items: center;

     .btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;

        a{
            width: 100%;

            button{
                background-color: #fff;
                color: var(--background);
                width: inherit;
                padding: 1em 2em;
                border-radius: 2em;
                border: 1px solid #fff;
                outline: none;
                transition: .3s;

                p{
                    font-size: clamp(1.2rem, 1.1vw, 2rem);
                }
            }
            button:hover{
                background-color: transparent;
                color: #fff;
                transform: scale(1.05);
                transition: .3s;
            }
        }
     }
    }
}

@media (min-width: 600px){
    body{
    
        .btn-container{
    
         .btn{
            background-color: var(--background);
            padding: 2em;
            border-radius: 1.7em;
            border: none;
            outline: none;
    
            a{
                width: 100%;
    
                button{

                    p{
                        font-size: clamp(1.8rem, 2vw, 2rem);
                    }
                }
              
            }
         }
        }
    }
}