@import 'general.css';
:root {
  --color: #585757;
  --black: #1b1a20;
  --green: #43b97f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 20;
}
body nav .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144em;
  width: 90%;
  margin-top: 1em;
}
body nav .nav-content .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
body nav .nav-content .logo-container .logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body nav .nav-content .logo-container .logo img {
  max-width: 32em;
}
body nav .nav-content .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .nav-content .nav-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  margin-right: 5em;
  gap: 5em;
}
body nav .nav-content .nav-container ul li {
  text-decoration: none;
  list-style: none;
  font-size: 1.8rem;
}
body nav .nav-content .nav-container .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body nav .nav-content .nav-container .btn-container .circle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body nav .nav-content .nav-container .btn-container .circle img {
  border: solid var(--tag-color) 1em;
  background-color: var(--tag-color);
  width: 7em;
  border-radius: 50%;
}
body nav .nav-content .nav-container .btn-container .rect {
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .nav-content .nav-container .btn-container .rect p {
  border: solid 2px var(--tag-color);
  background-color: var(--tag-color);
  color: #fff;
  border-radius: 7em;
  font-size: 1.8rem;
  padding: 0.4em 1.5em;
  margin-left: -1.2em;
  z-index: -1;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8.4em;
}
body header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 144em;
  width: 90%;
  margin-top: 12em;
}
body header .header-content .first-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25%;
}
body header .header-content .first-img img {
  width: 125%;
  mix-blend-mode: darken;
}
body header .header-content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  text-align: center;
}
body header .header-content .text .small-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1em 0;
}
body header .header-content .text .small-head p {
  font-size: 1.8rem;
  color: var(--tag-color);
}
body header .header-content .text .big-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .header-content .text .big-head p {
  font-size: 5.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 110%;
  color: #1b1a20;
}
body header .header-content .text .red-line {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 2em;
}
body header .header-content .text .red-line img {
  width: 33%;
}
body header .header-content .text .para {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header .header-content .text .para p {
  font-size: 1.8rem;
  width: 68%;
  color: #1b1a20;
  line-height: 130%;
  font-weight: 400;
  text-align: center;
}
body header .header-content .text .head-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4em;
}
body header .header-content .text .head-btn button {
  background-color: #e7332b;
  padding: 1em 3em;
  color: #fff;
  border-radius: 7em;
  outline: none;
  border: none;
}
body header .header-content .text .head-btn button span {
  font-size: 1.8rem;
}
body header .header-content .text .img-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body header .header-content .text .img-line .img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
body header .header-content .text .img-line .img img {
  width: 5.4em;
}
body header .header-content .text .img-line .line {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
}
body header .header-content .text .img-line .line img {
  width: 35%;
}
body header .header-content .last-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 25%;
}
body header .header-content .last-img img {
  width: 110%;
  mix-blend-mode: darken;
}
body header .header-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 144em;
  width: 90%;
  margin-top: 5em;
}
body header .header-foot .head-foot-content {
  display: grid;
  grid-template-areas: "first-column second-column third-column";
  grid-auto-columns: 1fr;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-left: none;
  border-right: none;
  width: 100%;
}
body header .header-foot .head-foot-content .text {
  display: flex;
  align-items: center;
}
body header .header-foot .head-foot-content .bold {
  grid-area: first-column;
}
body header .header-foot .head-foot-content .bold p {
  font-size: 3rem;
  font-weight: 600;
  line-height: 130%;
  color: var(--black);
  text-transform: uppercase;
  width: 100%;
}
body header .header-foot .head-foot-content .image {
  grid-area: second-column;
  justify-content: center;
}
body header .header-foot .head-foot-content .image .img {
  display: flex;
  justify-content: center;
}
body header .header-foot .head-foot-content .image .img img {
  width: 76%;
  mix-blend-mode: darken;
}
body header .header-foot .head-foot-content .span {
  grid-area: third-column;
  justify-content: right;
}
body header .header-foot .head-foot-content .span p {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 130%;
  color: var(--black);
  text-align: right;
}
body header .header-foot .head-foot-content .span p a {
  color: var(--green);
  text-decoration: underline;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 144em;
  width: 90%;
}
body main .main-content .main-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4em;
}
body main .main-content .main-head .arrow-text {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .main-content .main-head .arrow-text .arrow {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .main-content .main-head .arrow-text .arrow img {
  width: 15%;
}
body main .main-content .main-head .arrow-text .text .red-text {
  color: var(--tag-color);
  font-size: 2.4rem;
}
body main .main-content .main-head .arrow-text .text .main-text {
  font-size: 4rem;
  font-weight: 700;
  line-height: 130%;
}
body main .main-content .main-head .star-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .main-content .main-head .star-container .star {
  width: 50%;
  height: 100%;
}
body main .main-content .main-head .star-container .star img {
  width: 65%;
  margin-bottom: 1em;
}
body main .card-container {
  background: linear-gradient(180deg, rgba(255, 244, 240, 0), #fff4f0 17.19%, #fff4f0 84.37%, rgba(255, 244, 240, 0));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}
body main .card-container .cards {
  max-width: 144em;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
body main .card-container .cards .card {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 11px 22px rgba(231, 51, 43, 0.1);
  padding: 5em 5.8em 9em;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
body main .card-container .cards .card img {
  position: absolute;
  right: -1em;
  top: -0.5em;
  width: 35%;
}
body main .card-container .cards .card h1 {
  font-size: 6em;
  color: var(--black);
  font-weight: 700;
  line-height: 130%;
}
body main .card-container .cards .card .bold-text {
  font-size: 3.6em;
  color: var(--black);
  font-weight: 500;
  line-height: 130%;
  margin: 1em 0;
}
body main .card-container .cards .card .small-text {
  font-size: 1.8em;
  color: var(--black);
  font-weight: 400;
  line-height: 130%;
}
body main .card-container .cards .card:hover {
  transform: translateY(-15px);
  transition: 0.3s;
}
body main .card-container .cards .remote {
  background-color: var(--tag-color);
}
body main .card-container .cards .remote h1 {
  color: #fff;
}
body main .card-container .cards .remote .bold-text {
  color: #fff;
}
body main .card-container .cards .remote .small-text {
  color: #fff;
}
body main .quality-training-container {
  background-color: var(--tag-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 14em;
}
body main .quality-training-container .text-img-container {
  max-width: 144em;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 5em;
}
body main .quality-training-container .text-img-container .text {
  color: #fff;
  margin-top: 2.4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
body main .quality-training-container .text-img-container .text .arrow-container {
  display: flex;
  justify-content: right;
  width: 85%;
}
body main .quality-training-container .text-img-container .text .arrow-container img {
  width: 23%;
}
body main .quality-training-container .text-img-container .text .small-text,
body main .quality-training-container .text-img-container .text .para {
  font-size: 1.8rem;
  line-height: 130%;
  font-weight: 400;
}
body main .quality-training-container .text-img-container .text .bold-text {
  font-size: 4rem;
  line-height: 130%;
  font-weight: 700;
  margin-top: 0.25em;
}
body main .quality-training-container .text-img-container .text .para {
  width: 75%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body main .quality-training-container .text-img-container .text .para button {
  color: var(--tag-color);
  margin: 2em 0;
  font-size: 2rem;
  padding: 0.8rem 2.8rem;
  border-radius: 7em;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
body main .quality-training-container .text-img-container .text .para button:hover {
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
body main .quality-training-container .text-img-container .text .btn-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5em;
}
body main .quality-training-container .text-img-container .text .btn-container button {
  background-color: transparent;
  color: #fff;
  width: 100%;
  border: 2px solid #fff;
  outline: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8em 1em;
  border-radius: 8em;
  cursor: no-drop;
}
body main .quality-training-container .text-img-container .text .btn-container button .btn-content {
  -moz-column-gap: 1em;
       column-gap: 1em;
  display: flex;
  align-items: center;
}
body main .quality-training-container .text-img-container .text .btn-container button .btn-content img {
  width: 25%;
}
body main .quality-training-container .text-img-container .text .btn-container button .btn-content p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
body main .quality-training-container .text-img-container .img {
  margin-top: 2.4em;
}
body main .quality-training-container .text-img-container .img img {
  width: 100%;
}
body main .quality-training-container .dots {
  width: inherit;
}
body main .quality-training-container .dots img {
  width: 10%;
  padding: 3.5em;
}
body main .scope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6em;
  margin-bottom: 100em;
}
body main .scope .scope-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 144em;
  width: 90%;
}
body main .scope .scope-content .text-arrow {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .scope .scope-content .text-arrow .text {
  display: block;
  width: 50%;
}
body main .scope .scope-content .text-arrow .text .small-text {
  width: 100%;
  color: var(--tag-color);
}
body main .scope .scope-content .text-arrow .text .small-text p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 130%;
}
body main .scope .scope-content .text-arrow .text .bold-text {
  width: 100%;
}
body main .scope .scope-content .text-arrow .text .bold-text p {
  font-weight: 700;
  line-height: 130%;
  font-size: 4rem;
}
body main .scope .scope-content .text-arrow .arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .scope .scope-content .text-arrow .arrow img {
  width: 18%;
}
body main .scope .scope-content .card-scope-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: auto;
  gap: 2em;
}
body main .scope .scope-content .card-scope-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4em;
  padding: 4em;
  background-color: #fff;
  box-shadow: 0 11px 22px rgba(231, 51, 43, 0.1);
}
body main .scope .scope-content .card-scope-container .card .head-text {
  width: 100%;
}
body main .scope .scope-content .card-scope-container .card .head-text p {
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 1.2em;
  letter-spacing: 0.00938em;
}
body main .scope .scope-content .card-scope-container .card .imgs {
  display: flex;
  -moz-column-gap: 1.6em;
       column-gap: 1.6em;
  width: 100%;
}
body main .scope .scope-content .card-scope-container .card .para {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 4em 0 3em;
}
body main .scope .scope-content .card-scope-container .card .para p {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.01em;
}
body main .scope .scope-content .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7em 0 8em;
}
body main .scope .scope-content .btn-container button {
  background-color: var(--tag-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 3em;
  border: none;
  outline: none;
  border-radius: 7em;
  cursor: pointer;
}
body main .scope .scope-content .btn-container button p {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 1200px) {
  body header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8.4em;
  }
  body header .header-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 7em;
  }
  body header .header-content .first-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin-bottom: -8em;
  }
  body header .header-content .first-img img {
    width: 145%;
    mix-blend-mode: darken;
  }
  body header .header-content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }
  body header .header-content .text .small-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body header .header-content .text .small-head p {
    font-size: 1.8rem;
    color: var(--tag-color);
  }
  body header .header-content .text .big-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body header .header-content .text .big-head p {
    font-size: 4.9rem;
    font-weight: 700;
    text-align: center;
    line-height: 110%;
    color: #1b1a20;
  }
  body header .header-content .text .red-line {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2em;
  }
  body header .header-content .text .red-line img {
    width: 33%;
  }
  body header .header-content .text .para {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body header .header-content .text .para p {
    font-size: 1.8rem;
    width: 68%;
    color: #1b1a20;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
  }
  body header .header-content .text .head-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4em;
  }
  body header .header-content .text .head-btn button {
    background-color: #e7332b;
    padding: 1em 3em;
    color: #fff;
    border-radius: 7em;
    outline: none;
    border: none;
  }
  body header .header-content .text .head-btn button span {
    font-size: 1.8rem;
  }
  body header .header-content .text .img-line {
    display: flex;
    width: 100%;
  }
  body header .header-content .text .img-line .img {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body header .header-content .text .img-line .img img {
    width: 5.4em;
  }
  body header .header-content .text .img-line .line {
    width: 40%;
  }
  body header .header-content .text .img-line .line img {
    width: 35%;
  }
  body header .header-content .last-img {
    display: none;
  }
  body header .header-foot .head-foot-content .text {
    display: flex;
    align-items: center;
  }
  body header .header-foot .head-foot-content .bold p {
    font-size: 2rem;
  }
  body header .header-foot .head-foot-content .span p {
    font-size: 1.8rem;
  }
  body main .main-content .main-head .arrow-text .text .red-text {
    color: var(--tag-color);
    font-size: 2rem;
  }
  body main .main-content .main-head .arrow-text .text .main-text {
    font-size: 3rem;
  }
  body main .card-container {
    background: linear-gradient(180deg, rgba(255, 244, 240, 0), #fff4f0 17.19%, #fff4f0 84.37%, rgba(255, 244, 240, 0));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
  }
  body main .card-container .cards {
    grid-template-columns: 1fr 1fr;
  }
  body main .card-container .cards .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 11px 22px rgba(231, 51, 43, 0.1);
    padding: 5em 5.8em 9em;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
  }
  body main .card-container .cards .card img {
    position: absolute;
    right: -1em;
    top: -4em;
    width: 40%;
  }
  body main .card-container .cards .remote {
    background-color: var(--tag-color);
  }
  body main .card-container .cards .remote h1 {
    color: #fff;
  }
  body main .card-container .cards .remote .bold-text {
    color: #fff;
  }
  body main .card-container .cards .remote .small-text {
    color: #fff;
  }
  body main .quality-training-container .text-img-container {
    grid-template-columns: 1fr;
    margin-top: 5em;
  }
  body main .quality-training-container .text-img-container .text .bold-text {
    font-size: 3rem;
  }
  body main .quality-training-container .text-img-container .text .para {
    width: 100%;
  }
  body main .quality-training-container .text-img-container .text .btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5em;
  }
  body main .quality-training-container .text-img-container .text .btn-container button {
    padding: 0.6em 1em;
  }
  body main .quality-training-container .text-img-container .text .btn-container button .btn-content {
    -moz-column-gap: 0.8em;
         column-gap: 0.8em;
  }
  body main .quality-training-container .text-img-container .text .btn-container button .btn-content p {
    font-size: 1.6rem;
  }
  body main .quality-training-container .text-img-container .img {
    margin-top: 2.4em;
  }
  body main .quality-training-container .text-img-container .img img {
    width: 100%;
  }
  body main .quality-training-container .dots img {
    width: 17%;
    padding: 3.5em;
  }
}
@media (max-width: 900px) {
  body nav .nav-content .logo-container .logo img {
    max-width: 18em;
  }
  body nav .nav-content .nav-container ul {
    display: none;
  }
  body header .header-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 5em;
  }
  body header .header-foot .head-foot-content {
    display: grid;
    grid-template-areas: "first-column" "second-column" "third-column";
    grid-auto-columns: 1fr;
    max-width: 130em;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 4em;
  }
  body header .header-foot .head-foot-content .text {
    display: flex;
    align-items: center;
  }
  body header .header-foot .head-foot-content .bold {
    grid-area: first-column;
  }
  body header .header-foot .head-foot-content .bold p {
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  body header .header-foot .head-foot-content .span p {
    font-size: 1.8rem;
  }
  body main .main-content .main-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4em;
  }
  body main .main-content .main-head .star-container .star {
    width: 50%;
    height: 100%;
  }
  body main .main-content .main-head .star-container .star img {
    width: 65%;
    margin: 1.5em 0;
  }
  body main .card-container .cards {
    grid-template-columns: 1fr;
  }
  body main .card-container .cards .card {
    background-color: #fff;
  }
  body main .card-container .cards .card:hover {
    transform: translateY(-15px);
    transition: 0.3s;
  }
  body main .card-container .cards .remote {
    background-color: var(--tag-color);
  }
  body main .card-container .cards .remote h1 {
    color: #fff;
  }
  body main .card-container .cards .remote .bold-text {
    color: #fff;
  }
  body main .card-container .cards .remote .small-text {
    color: #fff;
  }
  body main .quality-training-container .text-img-container .text .btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em 5em;
  }
  body main .quality-training-container .text-img-container .text .btn-container button {
    padding: 0.6em 1em;
    width: 80%;
  }
  body main .quality-training-container .text-img-container .text .btn-container button .btn-content p {
    font-size: 1.8rem;
  }
  body main .quality-training-container .dots img {
    width: 19%;
    padding: 3.5em;
  }
}
@media (max-width: 700px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
  }
  body nav .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144em;
    width: 90%;
    margin-top: 1em;
  }
  body nav .nav-content .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body nav .nav-content .logo-container .logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body nav .nav-content .logo-container .logo img {
    max-width: 18em;
    width: 95%;
  }
  body nav .nav-content .nav-container ul {
    display: none;
  }
  body nav .nav-content .nav-container .btn-container .circle {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body nav .nav-content .nav-container .btn-container .circle img {
    border: solid var(--tag-color) 1em;
    background-color: var(--tag-color);
    max-width: 7em;
    border-radius: 50%;
  }
  body nav .nav-content .nav-container .btn-container .rect p {
    border: solid 2px var(--tag-color);
    background-color: var(--tag-color);
    color: #fff;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 7em;
    font-size: 1.8rem;
    padding: 0.6em 1.5em;
    margin-left: -1.5em;
    z-index: -1;
  }
  body header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8.4em;
  }
  body header .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 130em;
    width: 90%;
    margin-top: 4em;
  }
  body header .header-content .first-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin-bottom: 0;
  }
  body header .header-content .first-img img {
    width: 130%;
    mix-blend-mode: darken;
  }
  body header .header-content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  body header .header-content .text .big-head p {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    line-height: 110%;
    color: #1b1a20;
  }
  body header .header-content .text .red-line {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 2em;
  }
  body header .header-content .text .red-line img {
    width: 33%;
  }
  body header .header-content .text .img-line {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  body header .header-content .text .img-line .img {
    width: 50%;
  }
  body header .header-content .text .img-line .img img {
    display: none;
  }
  body header .header-content .text .img-line .line {
    width: 40%;
  }
  body header .header-content .text .img-line .line img {
    width: 35%;
  }
  body header .header-content .last-img {
    display: none;
  }
  body header .header-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 4em;
  }
  body header .header-foot .head-foot-content .text {
    display: flex;
    align-items: center;
  }
  body header .header-foot .head-foot-content .bold {
    grid-area: first-column;
  }
  body header .header-foot .head-foot-content .bold p {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
  body header .header-foot .head-foot-content .span p {
    font-size: 1.8rem;
    text-align: center;
  }
  body main .main-content .main-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4em;
  }
  body main .main-content .main-head .arrow-text .text .red-text {
    color: var(--tag-color);
    font-size: 1.8rem;
    font-weight: 400;
  }
  body main .main-content .main-head .arrow-text .text .main-text {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
  }
  body main .main-content .main-head .star-container {
    display: none;
  }
  body main .card-container .cards {
    grid-template-columns: 1fr;
  }
  body main .card-container .cards .card {
    background-color: #fff;
  }
  body main .card-container .cards .card:hover {
    transform: translateY(-15px);
    transition: 0.3s;
  }
  body main .card-container .cards .remote {
    background-color: var(--tag-color);
  }
  body main .card-container .cards .remote h1 {
    color: #fff;
  }
  body main .card-container .cards .remote .bold-text {
    color: #fff;
  }
  body main .card-container .cards .remote .small-text {
    color: #fff;
  }
  body main .quality-training-container .text-img-container .text .btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  body main .quality-training-container .text-img-container .text .btn-container button {
    padding: 0.6em 1em;
    width: 100%;
  }
  body main .quality-training-container .text-img-container .text .btn-container button .btn-content p {
    font-size: 1.4rem;
  }
  body main .quality-training-container .dots img {
    width: 35%;
    padding: 3.5em;
  }
}/*# sourceMappingURL=industry.css.map */