@import './general.css';

:root{
    --padding: .5em 1.5em;
    --para-color: #787878;
    --max-width: 144em;
}

body{

    .body-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 7em;
            background-color: var(--white);
            position: fixed;
            top: 0;
            z-index: 20;
            
            .nav__container{
                max-width: var(--max-width);
                height: inherit;
                width: 85%;
                display: flex;
                justify-content: space-between;

                .logo__container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .nav{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: var(--gap);
                    transform: scale(1.2);
                    
                    --gap: 3.2em;
                    
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        font-size: 1.6rem;

                        .current{
                            border-bottom: 2px solid var(--tag-color);
                        }
                        .current:hover{
                            border-radius: 0;
                        }

                        li:hover{
                            border-radius: 4px;
                            background-color: rgba(25, 118, 210, 0.04);
                            
                        }
                        
                        li{
                            min-width: max-content;
                            list-style: none;
                            margin-right: var(--gap);
                            padding: 1em .2em;
                            
                            a{
                                text-decoration: none;
                                color: black;
                                font-weight: 400;
                                padding: inherit;
                            }
                            
                            
                        }
                    }

                    a{
                        min-width: max-content;
                        cursor: pointer;
                        outline: none;
                        
                        button{
                            background-color: var(--tag-color);
                            color: var(--white);
                            min-width: 6em;
                            border: none;
                            border-radius: 0 0 .35em 0;
                            font-size: 1.6rem;
                            font-weight: 400;
                            padding: var(--padding);
                            outline: none;
                        }
                    }
                }
            }
        }

        header{
            display: flex;
            justify-content: center;
            margin-top: 7em;
            position: relative;
            
            
            .header-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: var(--max-width);
                width: 85%;
                margin-top: 20em;
                overflow: hidden;
                
                .text{
                    width: 50%;
                    
                    .text-img{
                        width: 75%;
                        display: flex;
                        margin-bottom: 5em;
                        width: max-content;

                        
                        h1{
                            font-size: 4rem;
                            letter-spacing: 0.00938em;
                            position: relative;
                            
                            span{
                                color: var(--tag-color);
                            }
                            img{
                                margin-right: 4em;
                                z-index: 1;
                                overflow: visible;
                                position: absolute;
                                top: .5em;
                                right: -4.5em;
    
                            }
                        }
                    }

                    .para-btn{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        
                        p{
                            color: var(--para-color);
                            width: 75%;
                            font-size: 2rem;
                            font-weight: 400;
                            letter-spacing: 0.00938em;
                            line-height: 1.5em;
                            margin-bottom: 1.5em;
                        }

                        .btn-holder{
                            display: flex;
                            column-gap: 1.5em;

                        .head-btn{
                            color: var(--white);
                            font-size: 1.6rem;
                            font-weight: 400;
                            border-radius: 0 0 .5em 0;
                            border: none;
                            padding: .8em 3em;
                            line-height: 1em;
                            box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, 
                                        rgb(0 0 0 / 14%) 0px 2px 2px 0px, 
                                        rgb(0 0 0 / 12%) 0px 1px 5px 0px;

                                    }
                        .head-btn:hover{
                            box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
                                        rgb(0 0 0 / 14%) 0px 4px 5px 0px,
                                        rgb(0 0 0 / 12%) 0px 1px 10px 0px;

                        }

                        .red-btn{
                            background-color: var(--tag-color);
                        }
                        .gray-btn{
                            background-color: #585858;
                        }
                    }
                    }
                }

                .img{
                    width: 50%;
                    display: flex;
                    align-items: flex-end;

                    .head-image{
                        display: flex;
                        justify-content: flex-end;
                        
                        img{
                            width: 70%;

                        }
                    }

                    .head-line{
                        position: absolute;
                        right: 2em;
                        bottom: 10em;
                        opacity: .5;
                        
                        img{
                            width: 25em;

                        }
                    }
                }
            }
        }

        main{
            width: 100%;
            margin: 13em 0 0 0;
            
            .main-content{
                width: 100%;
                
                
                .first-section{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: inherit;
                    border: none;
                    
                    .world-container{
                        width: inherit;
                        background-image: url(../media/images/talent/bgsection2.063bd869082548bafa74.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        display: flex;
                        flex-direction: column;
                        padding-top: 40em;
                        
                        .world{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            padding-top: 30em;

                            .white-space{
                                background-color: #fff;
                                width: 100%;
                                height: 12em;
                            }
                            
                            .text-people{
                                max-width: var(--max-width);
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                top: -32em;

                                .text-country{
                                    width: 50%;

                                    .text{
                                        h1{
                                            font-size: 4rem;

                                            span{
                                                color: var(--tag-color);
                                            }
                                        }

                                        h4{
                                            color: #161617;
                                            font-size: 1.9rem;
                                            margin-top: 1em;
                                        }

                                        p{
                                            color: #787878;
                                            font-size: 1.9rem;
                                            margin-top: .7em;
                                        }

                                    }

                                    .country-container{
                                        display: flex;
                                        justify-content: flex-start;
                                        column-gap: 2em;
                                        margin-top: 2em;

                                        .country{
                                            background-color: #fff;
                                            width: 6.5em;
                                            padding: .7em;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            border-radius: .8em;

                                            img{
                                                width: 4em;
                                            }
                                        }

                                    }
                                }
    
                                .people-container{
                                    width: 50%;
                                    display: flex;
                                    justify-content: flex-end;

                                    .img{
            
                                        img{
                                            width: 50em;
                                        }
                                    }
                                }

                            }
                            
                        }
    
                    }
                }
                
            }
        }
    }
}