@import './general.css';
:root {
  --padding: .5em 1.5em;
  --para-color: #787878;
  --black: #161617;
  --gray: #585858;
  --max-width: 144em;
  --h1-fs: 4rem;
  --h1-fs-1200px: 3rem;
}

body .body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
body .body-content nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 7em;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 20;
}
body .body-content nav .nav__container {
  max-width: var(--max-width);
  height: inherit;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
body .body-content nav .nav__container .logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .body-content nav .nav__container .logo__container img {
  outline: none;
}
body .body-content nav .nav__container .logo__container img:hover {
  cursor: pointer;
}
body .body-content nav .nav__container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--gap);
  transform: scale(1.2);
  --gap: 3.2em;
}
body .body-content nav .nav__container .nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
}
body .body-content nav .nav__container .nav ul .current {
  border-bottom: 2px solid var(--tag-color);
}
body .body-content nav .nav__container .nav ul .current:hover {
  border-radius: 0;
}
body .body-content nav .nav__container .nav ul li {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  list-style: none;
  margin-right: var(--gap);
  padding: 1em 0.2em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
body .body-content nav .nav__container .nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  padding: inherit;
}
body .body-content nav .nav__container .nav ul li:hover {
  border-radius: 4px;
  background-color: rgba(25, 118, 210, 0.04);
  cursor: pointer;
}
body .body-content nav .nav__container .nav a {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  cursor: pointer;
  outline: none;
}
body .body-content nav .nav__container .nav a button {
  background-color: var(--tag-color);
  color: var(--white);
  min-width: 6em;
  border: none;
  border-radius: 0 0 0.35em 0;
  font-size: 1.6rem;
  font-weight: 400;
  padding: var(--padding);
  outline: none;
}
body .body-content nav .nav__container .nav a button:hover {
  cursor: pointer;
}
body .body-content header {
  display: flex;
  justify-content: center;
  margin-top: 7em;
  position: relative;
}
body .body-content header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  width: 85%;
  margin-top: 20em;
  overflow: hidden;
}
body .body-content header .header-content .text {
  width: 50%;
}
body .body-content header .header-content .text .text-img {
  width: 75%;
  display: flex;
  margin-bottom: 5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
body .body-content header .header-content .text .text-img h1 {
  font-size: var(--h1-fs);
  letter-spacing: 0.00938em;
  position: relative;
}
body .body-content header .header-content .text .text-img h1 span {
  color: var(--tag-color);
}
body .body-content header .header-content .text .text-img h1 img {
  margin-right: 4em;
  z-index: 1;
  overflow: visible;
  position: absolute;
  top: 0.5em;
  right: -4.5em;
}
body .body-content header .header-content .text .para-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .body-content header .header-content .text .para-btn p {
  color: var(--para-color);
  width: 75%;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.00938em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
body .body-content header .header-content .text .para-btn .btn-holder {
  display: flex;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
}
body .body-content header .header-content .text .para-btn .btn-holder .head-btn {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0 0 0.5em 0;
  border: none;
  padding: 0.8em 3em;
  line-height: 1em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
body .body-content header .header-content .text .para-btn .btn-holder .head-btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
body .body-content header .header-content .text .para-btn .btn-holder .red-btn {
  background-color: var(--tag-color);
}
body .body-content header .header-content .text .para-btn .btn-holder .gray-btn {
  background-color: var(--gray);
}
body .body-content header .header-content .img {
  width: 50%;
  display: flex;
  align-items: flex-end;
}
body .body-content header .header-content .img .head-image {
  display: flex;
  justify-content: flex-end;
}
body .body-content header .header-content .img .head-image img {
  width: 70%;
}
body .body-content header .header-content .img .head-line {
  position: absolute;
  right: 0;
  bottom: 10em;
  opacity: 0.8;
}
body .body-content header .header-content .img .head-line img {
  width: 25em;
}
body .body-content main {
  width: 100%;
  margin: 13em 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .body-content main .main-content {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .body-content main .main-content .first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  border: none;
}
body .body-content main .main-content .first-section .world-container {
  width: inherit;
  background-image: url(../media/images/talent/bgsection2.063bd869082548bafa74.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40em;
}
body .body-content main .main-content .first-section .world-container .world {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 30em;
}
body .body-content main .main-content .first-section .world-container .world .text-people {
  max-width: var(--max-width);
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -32em;
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country {
  width: 50%;
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text {
  width: 98%;
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 {
  font-size: var(--h1-fs);
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 span {
  color: var(--tag-color);
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h4 {
  color: #161617;
  font-size: 1.9rem;
  margin-top: 1em;
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text p {
  color: #787878;
  font-size: 1.9rem;
  margin-top: 0.7em;
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country .country-container {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 2em;
       column-gap: 2em;
  margin-top: 2em;
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country .country-container .country {
  background-color: #fff;
  width: 6.5em;
  padding: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
}
body .body-content main .main-content .first-section .world-container .world .text-people .text-country .country-container .country img {
  width: 4em;
}
body .body-content main .main-content .first-section .world-container .world .text-people .people-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img {
  display: flex;
  justify-content: flex-end;
}
body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img img {
  width: 50em;
}
body .body-content main .main-content .first-section .world-container .white-space {
  background-color: #fff;
  width: 100%;
  height: 12em;
}
body .body-content main .main-content .second-section {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7em;
  position: relative;
}
body .body-content main .main-content .second-section .skills-container {
  max-width: var(--max-width);
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body .body-content main .main-content .second-section .skills-container .skills {
  display: flex;
  flex-flow: column;
  z-index: 2;
}
body .body-content main .main-content .second-section .skills-container .skills h1 {
  width: 15em;
  max-width: 58%;
  font-size: var(--h1-fs);
  margin-bottom: 0.5em;
  color: var(--black);
}
body .body-content main .main-content .second-section .skills-container .skills span {
  color: var(--tag-color);
}
body .body-content main .main-content .second-section .skills-container .skills .skills-flex {
  color: #787878;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 2em;
       column-gap: 2em;
  margin-bottom: 4em;
}
body .body-content main .main-content .second-section .skills-container .skills .skills-flex .btn {
  background-color: #fff;
  border: none;
  border-radius: 0.4em;
  box-shadow: 0 8px 30px hsla(0deg, 0%, 48%, 0.16);
  padding: 0.8em 2em;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  transition: transform 0.3s ease, transform 0.3s ease;
}
body .body-content main .main-content .second-section .skills-container .skills .skills-flex .btn:hover {
  transition: 0.3s;
  transform: translateY(-25%);
}
body .body-content main .main-content .second-section .skills-container .skills .second {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 8em;
  display: flex;
  align-items: center;
}
body .body-content main .main-content .second-section .skills-container .skills .second .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .body-content main .main-content .second-section .skills-container img {
  position: absolute;
  top: 3.3em;
  right: 0;
  z-index: 1;
}
body .body-content main .main-content .third-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff8e5;
  position: relative;
  margin-top: 5em;
}
body .body-content main .main-content .third-section .talent {
  max-width: var(--max-width);
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .body-content main .main-content .third-section .talent .red-curve-line {
  position: absolute;
  left: 0;
  bottom: 33em;
  z-index: 1;
}
body .body-content main .main-content .third-section .talent .card-head {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}
body .body-content main .main-content .third-section .talent .card-head h1 {
  font-size: 4rem;
}
body .body-content main .main-content .third-section .talent .card-head h1 span {
  color: var(--tag-color);
}
body .body-content main .main-content .third-section .talent .card-container {
  width: 105%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10em 0 5em 0;
  gap: 4em 2em;
}
body .body-content main .main-content .third-section .talent .card-container .card {
  max-width: 30%;
  background-color: #fff;
  color: #787878;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 16px 0;
  padding: 5em 2.5em;
  row-gap: 4em;
  z-index: 2;
}
body .body-content main .main-content .third-section .talent .card-container .card p {
  font-size: 1.7rem;
  text-align: center;
}
body .body-content main .main-content .third-section .talent .card-container .card:hover {
  background-color: #161617;
  box-shadow: 0 8px 30px hsla(0deg, 0%, 69%, 0.07);
  color: #fff;
}
body .body-content main .main-content .third-section .talent .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
  margin-bottom: 8em;
}
body .body-content main .main-content .third-section .talent .btn-container .btn {
  min-width: 5.5em;
  padding: 1em 5em;
  color: #fff;
  border: none;
  border-radius: 0 0 8px 0;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
body .body-content main .main-content .third-section .talent .btn-container .btn span {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.08em;
}
body .body-content main .main-content .third-section .talent .btn-container .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}
body .body-content main .main-content .third-section .talent .btn-container .gray-btn {
  background-color: #585858;
}
body .body-content main .main-content .third-section .talent .btn-container .red-btn {
  background-color: var(--tag-color);
}
body .body-content footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
}
body .body-content footer .footer-content {
  width: 92.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6.9em 0 0 0;
  row-gap: 5em;
  padding-right: 2em;
}
body .body-content footer .footer-content .up-footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6em;
}
body .body-content footer .footer-content .up-footer-content .zuri img:hover {
  cursor: pointer;
}
body .body-content footer .footer-content .up-footer-content .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.5em;
       column-gap: 1.5em;
}
body .body-content footer .footer-content .up-footer-content .social-links img {
  width: 3em;
}
body .body-content footer .footer-content .up-footer-content .social-links img:hover {
  cursor: pointer;
}
body .body-content footer .footer-content .down-footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
body .body-content footer .footer-content .down-footer-content p {
  font-size: 1.6rem;
}
body .body-content footer .footer-content .down-footer-content p a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1200px) {
  body .body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  body .body-content nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 7em;
    background-color: var(--white);
    position: fixed;
    top: 0;
    z-index: 20;
  }
  body .body-content nav .nav__container {
    max-width: var(--max-width);
    height: inherit;
    width: 85%;
    display: flex;
    justify-content: space-between;
  }
  body .body-content nav .nav__container .logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .body-content nav .nav__container .logo__container img {
    outline: none;
  }
  body .body-content nav .nav__container .logo__container img:hover {
    cursor: pointer;
  }
  body .body-content nav .nav__container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--gap);
    transform: scale(1.2);
    --gap: 3.2em;
  }
  body .body-content nav .nav__container .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
  }
  body .body-content nav .nav__container .nav ul .current {
    border-bottom: 2px solid var(--tag-color);
  }
  body .body-content nav .nav__container .nav ul .current:hover {
    border-radius: 0;
  }
  body .body-content nav .nav__container .nav ul li {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    list-style: none;
    margin-right: var(--gap);
    padding: 1em 0.2em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  body .body-content nav .nav__container .nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: inherit;
  }
  body .body-content nav .nav__container .nav ul li:hover {
    border-radius: 4px;
    background-color: rgba(25, 118, 210, 0.04);
    cursor: pointer;
  }
  body .body-content nav .nav__container .nav a {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    cursor: pointer;
    outline: none;
  }
  body .body-content nav .nav__container .nav a button {
    background-color: var(--tag-color);
    color: var(--white);
    min-width: 6em;
    border: none;
    border-radius: 0 0 0.35em 0;
    font-size: 1.6rem;
    font-weight: 400;
    padding: var(--padding);
    outline: none;
  }
  body .body-content nav .nav__container .nav a button:hover {
    cursor: pointer;
  }
  body .body-content header .header-content {
    width: 85%;
    margin-top: 15em;
    overflow: hidden;
    row-gap: 5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  body .body-content header .header-content .text {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body .body-content header .header-content .text .text-img {
    width: 75%;
    display: flex;
    margin-bottom: 3em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  body .body-content header .header-content .text .para-btn {
    align-items: center;
  }
  body .body-content header .header-content .text .para-btn p {
    color: var(--para-color);
    width: 70%;
    line-height: 1.2em;
  }
  body .body-content header .header-content .img {
    width: 100%;
    display: flex;
  }
  body .body-content header .header-content .img .head-image {
    display: flex;
    justify-content: center;
  }
  body .body-content header .header-content .img .head-image img {
    width: 70%;
  }
  body .body-content header .header-content .img .head-line {
    mix-blend-mode: soft-light;
    position: absolute;
    right: 0;
    bottom: 10em;
  }
  body .body-content header .header-content .img .head-line img {
    width: 29em;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country {
    width: 50%;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text {
    width: 98%;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 {
    font-size: 3rem;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img {
    min-width: 30em;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img img {
    min-width: inherit;
  }
  body .body-content main .main-content .first-section .world-container .white-space {
    background-color: #fff;
    width: 100%;
    height: 12em;
  }
  body .body-content main .main-content .second-section .skills-container {
    max-width: var(--max-width);
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  body .body-content main .main-content .second-section .skills-container .skills {
    display: flex;
    flex-flow: column;
    z-index: 2;
  }
  body .body-content main .main-content .second-section .skills-container .skills h1 {
    width: 15em;
    max-width: 58%;
    font-size: var(--h1-fs-1200px);
    margin-bottom: 1em;
    color: var(--black);
  }
  body .body-content main .main-content .second-section .skills-container .skills span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .second-section .skills-container .skills .skills-flex {
    color: #787878;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    -moz-column-gap: 2.5em;
         column-gap: 2.5em;
    margin-bottom: 4em;
  }
  body .body-content main .main-content .second-section .skills-container .skills .skills-flex .btn {
    background-color: #fff;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0 8px 30px hsla(0deg, 0%, 48%, 0.16);
    padding: 1em 1.3em;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    transition: transform 0.3s ease, transform 0.3s ease;
  }
  body .body-content main .main-content .second-section .skills-container .skills .skills-flex .btn:hover {
    transition: 0.3s;
    transform: translateY(-25%);
  }
  body .body-content main .main-content .second-section .skills-container .skills .second {
    color: #787878;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2em 1.3em;
    margin-bottom: 4em;
  }
  body .body-content main .main-content .second-section .skills-container .skills .second .btn {
    min-height: 100%;
    padding: 1em 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .body-content main .main-content .second-section .skills-container img {
    display: none;
  }
  body .body-content main .main-content .third-section .talent .red-curve-line {
    position: absolute;
    left: 0;
    bottom: 50%;
    z-index: 1;
  }
  body .body-content main .main-content .third-section .talent .card-head h1 {
    font-size: var(--h1-fs-1200px);
  }
  body .body-content main .main-content .third-section .talent .card-container {
    width: 100%;
    display: grid;
    grid-template-areas: "people mech" "hands write" "many many";
    grid-auto-flow: 1fr;
    gap: 1.5em;
  }
  body .body-content main .main-content .third-section .talent .card-container .card {
    max-width: 100%;
    background-color: #fff;
    color: #787878;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 16px 0;
    row-gap: 4em;
  }
  body .body-content main .main-content .third-section .talent .card-container .card img {
    max-width: 7.8em;
  }
  body .body-content main .main-content .third-section .talent .card-container .card p {
    font-size: 1.8rem;
    text-align: center;
    margin: 1.3rem 6rem;
  }
  body .body-content main .main-content .third-section .talent .card-container .card:hover {
    background-color: #161617;
    box-shadow: 0 8px 30px hsla(0deg, 0%, 69%, 0.07);
    color: #fff;
  }
  body .body-content main .main-content .third-section .talent .card-container .people {
    grid-area: people;
  }
  body .body-content main .main-content .third-section .talent .card-container .mech {
    grid-area: mech;
  }
  body .body-content main .main-content .third-section .talent .card-container .hands {
    grid-area: hands;
  }
  body .body-content main .main-content .third-section .talent .card-container .write {
    grid-area: write;
  }
  body .body-content main .main-content .third-section .talent .card-container .many {
    grid-area: many;
  }
  body .body-content main .main-content .third-section .talent .btn-container .btn {
    padding: 0.8em 3.5em;
  }
}
@media (max-width: 900px) {
  body .body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  body .body-content nav .nav__container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--gap);
    transform: scale(1.2);
    --gap: 3.2em;
  }
  body .body-content nav .nav__container .nav ul {
    display: none;
  }
  body .body-content header {
    display: flex;
    justify-content: center;
    margin-top: 7em;
    position: relative;
  }
  body .body-content header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: 85%;
    margin-top: 20em;
    overflow: hidden;
  }
  body .body-content header .header-content .text {
    width: 100%;
  }
  body .body-content header .header-content .text .text-img {
    width: 75%;
    display: flex;
    margin-bottom: 5em;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  body .body-content header .header-content .text .text-img h1 {
    font-size: var(--h1-fs);
    letter-spacing: 0.00938em;
    position: relative;
  }
  body .body-content header .header-content .text .text-img h1 span {
    color: var(--tag-color);
  }
  body .body-content header .header-content .text .text-img h1 img {
    margin-right: 4em;
    z-index: 1;
    overflow: visible;
    position: absolute;
    top: 0.5em;
    right: -4.5em;
  }
  body .body-content header .header-content .text .para-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body .body-content header .header-content .text .para-btn p {
    width: 80%;
    font-size: 1.9rem;
  }
  body .body-content header .header-content .img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .body-content header .header-content .img .head-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .body-content header .header-content .img .head-image img {
    width: 70%;
  }
  body .body-content header .header-content .img .head-line img {
    display: none;
    min-width: 25em;
  }
  body .body-content main .main-content .first-section .world-container {
    margin-bottom: 5em;
  }
  body .body-content main .main-content .first-section .world-container .world {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people {
    display: flex;
    flex-flow: column;
    row-gap: 5em;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 {
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img #people {
    width: 60%;
    min-width: 30em;
  }
  body .body-content main .main-content .first-section .world-container .white-space {
    background-color: transparent;
    width: 100%;
    min-height: 22em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .body-content main .main-content .second-section .skills-container {
    max-width: var(--max-width);
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  body .body-content main .main-content .second-section .skills-container .skills {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  body .body-content main .main-content .second-section .skills-container .skills h1 {
    width: 15em;
    max-width: 58%;
    font-size: var(--h1-fs-1200px);
    margin-bottom: 1em;
    color: var(--black);
    text-align: center;
  }
  body .body-content main .main-content .second-section .skills-container .skills span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .second-section .skills-container .skills .skills-flex {
    width: inherit;
    color: #787878;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.3em 2.5em;
    margin-bottom: 4em;
  }
  body .body-content main .main-content .second-section .skills-container .skills .skills-flex .btn {
    background-color: #fff;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0 8px 30px hsla(0deg, 0%, 48%, 0.16);
    padding: 1em 1.3em;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    height: 100%;
    transition: transform 0.3s ease, transform 0.3s ease;
  }
  body .body-content main .main-content .second-section .skills-container .skills .skills-flex .btn:hover {
    transition: 0.3s;
    transform: translateY(-25%);
  }
  body .body-content main .main-content .second-section .skills-container .skills .second {
    gap: 0.8em 1.7em;
  }
  body .body-content main .main-content .second-section .skills-container img {
    display: none;
  }
}
@media (max-width: 650px) {
  body .body-content header .header-content {
    margin-top: 4em;
  }
  body .body-content header .header-content .text .text-img h1 {
    width: 90%;
    font-size: 3em;
  }
  body .body-content header .header-content .text .text-img h1 img {
    left: 5em;
    top: 1.5em;
  }
  body .body-content main .main-content .first-section .world-container {
    margin-bottom: 5em;
  }
  body .body-content main .main-content .first-section .world-container .world {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people {
    display: flex;
    flex-flow: column;
    row-gap: 5em;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country {
    width: 100%;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text {
    width: 98%;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 {
    font-size: 3rem;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container {
    width: 100%;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img img {
    max-width: 50em;
  }
  body .body-content main .main-content .second-section .skills-container .skills {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  body .body-content main .main-content .second-section .skills-container .skills h1 {
    max-width: 100%;
    font-size: 2.8rem;
    margin-bottom: 1em;
    color: var(--black);
    text-align: left;
  }
  body .body-content main .main-content .second-section .skills-container .skills span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .second-section .skills-container .skills .skills-flex {
    color: #787878;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body .body-content main .main-content .second-section .skills-container .skills .second {
    gap: 0.8em 1.7em;
  }
  body .body-content main .main-content .second-section .skills-container img {
    display: none;
  }
  body .body-content main .main-content .third-section .talent .red-curve-line {
    position: absolute;
    left: 0;
    bottom: 50%;
    z-index: 1;
  }
  body .body-content main .main-content .third-section .talent .card-head h1 {
    font-size: var(--h1-fs-1200px);
  }
  body .body-content main .main-content .third-section .talent .card-container {
    width: 100%;
    display: grid;
    grid-template-areas: "people" "mech" "hands" "write" "many";
    grid-auto-flow: 1fr;
    gap: 1.5em;
  }
  body .body-content main .main-content .third-section .talent .card-container .people {
    grid-area: people;
  }
  body .body-content main .main-content .third-section .talent .card-container .mech {
    grid-area: mech;
  }
  body .body-content main .main-content .third-section .talent .card-container .hands {
    grid-area: hands;
  }
  body .body-content main .main-content .third-section .talent .card-container .write {
    grid-area: write;
  }
  body .body-content main .main-content .third-section .talent .card-container .many {
    grid-area: many;
  }
  body .body-content main .main-content .third-section .talent .btn-container .btn {
    padding: 0.8em 3.5em;
  }
  body .body-content footer .footer-content {
    width: 92.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6.9em 0 0 0;
    row-gap: 5em;
    padding-right: 2em;
  }
  body .body-content footer .footer-content .up-footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin-top: 0.6em;
  }
  body .body-content footer .footer-content .up-footer-content .zuri img:hover {
    cursor: pointer;
  }
  body .body-content footer .footer-content .up-footer-content .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 1.5em;
         column-gap: 1.5em;
  }
  body .body-content footer .footer-content .up-footer-content .social-links img {
    width: 3em;
  }
  body .body-content footer .footer-content .up-footer-content .social-links img:hover {
    cursor: pointer;
  }
  body .body-content footer .footer-content .down-footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    gap: 2.5em;
  }
  body .body-content footer .footer-content .down-footer-content p {
    font-size: 1.6rem;
  }
  body .body-content footer .footer-content .down-footer-content p a {
    text-decoration: none;
    color: inherit;
  }
}
@media (max-width: 550px) {
  body .body-content header .header-content {
    margin-top: 4em;
  }
  body .body-content header .header-content .text .text-img h1 {
    width: 90%;
  }
  body .body-content header .header-content .text .text-img h1 img {
    left: 5em;
    top: 1.5em;
  }
  body .body-content header .header-content .text .para-btn p {
    font-size: 1.5rem;
  }
  body .body-content header .header-content .text .para-btn .btn-holder {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  body .body-content header .header-content .text .para-btn .btn-holder .head-btn {
    padding: 0.8em 1.6em;
  }
  body .body-content main .main-content .first-section .world-container {
    margin-bottom: 5em;
  }
  body .body-content main .main-content .first-section .world-container .world {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people {
    row-gap: 5em;
    display: grid;
    grid-template-areas: "text-country" "people";
    place-content: center;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country {
    width: 100%;
    grid-area: text-country;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text {
    width: 80%;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 {
    font-size: 3rem;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .country-container {
    gap: 1em;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: people;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img img {
    width: 5em;
  }
  body .body-content main .main-content .third-section .talent .red-curve-line {
    position: absolute;
    left: 0;
    bottom: 50%;
    z-index: 1;
  }
  body .body-content main .main-content .third-section .talent .card-head h1 {
    font-size: var(--h1-fs-1200px);
    text-align: center;
  }
  body .body-content main .main-content .third-section .talent .card-container {
    width: 100%;
    display: grid;
    grid-template-areas: "people" "mech" "hands" "write" "many";
    grid-auto-flow: 1fr;
    gap: 1.5em;
  }
  body .body-content main .main-content .third-section .talent .card-container .card {
    padding: 3.5em;
  }
  body .body-content main .main-content .third-section .talent .card-container .card p {
    margin: 0;
  }
  body .body-content main .main-content .third-section .talent .card-container .people {
    grid-area: people;
  }
  body .body-content main .main-content .third-section .talent .card-container .mech {
    grid-area: mech;
  }
  body .body-content main .main-content .third-section .talent .card-container .hands {
    grid-area: hands;
  }
  body .body-content main .main-content .third-section .talent .card-container .write {
    grid-area: write;
  }
  body .body-content main .main-content .third-section .talent .card-container .many {
    grid-area: many;
  }
  body .body-content main .main-content .third-section .talent .btn-container .btn {
    padding: 0.8em 3.5em;
  }
  body .body-content footer .footer-content {
    width: 92.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6.9em 0 0 0;
    row-gap: 5em;
    padding-right: 2em;
  }
  body .body-content footer .footer-content .up-footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 0.6em;
  }
  body .body-content footer .footer-content .up-footer-content .zuri img:hover {
    cursor: pointer;
  }
  body .body-content footer .footer-content .up-footer-content .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 1.5em;
         column-gap: 1.5em;
  }
  body .body-content footer .footer-content .up-footer-content .social-links img {
    width: 3em;
  }
  body .body-content footer .footer-content .up-footer-content .social-links img:hover {
    cursor: pointer;
  }
  body .body-content footer .footer-content .down-footer-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    gap: 2em;
  }
  body .body-content footer .footer-content .down-footer-content p {
    font-size: 1.6rem;
  }
  body .body-content footer .footer-content .down-footer-content p a {
    text-decoration: none;
    color: inherit;
  }
}
@media (max-width: 400px) {
  body .body-content nav .nav__container .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--gap);
    transform: scale(1.2);
    --gap: 3.2em;
  }
  body .body-content nav .nav__container .nav a {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    cursor: pointer;
    outline: none;
  }
  body .body-content nav .nav__container .nav a button {
    background-color: var(--tag-color);
    color: var(--white);
    min-width: 6em;
    border: none;
    border-radius: 0 0 0.35em 0;
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-weight: 400;
    padding: var(--padding);
    outline: none;
  }
  body .body-content nav .nav__container .nav a button:hover {
    cursor: pointer;
  }
  body .body-content header .header-content {
    margin-top: 4em;
  }
  body .body-content header .header-content .text .text-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .body-content header .header-content .text .text-img h1 {
    width: 60%;
  }
  body .body-content header .header-content .text .text-img h1 img {
    left: 4.2em;
    top: 1.5em;
  }
  body .body-content header .header-content .text .para-btn p {
    font-size: 1.5rem;
  }
  body .body-content header .header-content .text .para-btn .btn-holder {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  body .body-content header .header-content .text .para-btn .btn-holder .head-btn {
    padding: 0.5em 1.3em;
  }
  body .body-content main .main-content .first-section .world-container {
    margin-bottom: 5em;
  }
  body .body-content main .main-content .first-section .world-container .world {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people {
    row-gap: 5em;
    display: grid;
    grid-template-areas: "text-country" "people";
    place-content: center;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: text-country;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 {
    text-align: left;
    font-size: 3rem;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .text h1 span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .country-container {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 1em;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .text-country .country-container .country img {
    width: 3em;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: people;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img {
    width: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body .body-content main .main-content .first-section .world-container .world .text-people .people-container .img img#people {
    min-width: 20em;
  }
  body .body-content main .main-content .second-section .skills-container .skills {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  body .body-content main .main-content .second-section .skills-container .skills h1 {
    max-width: 100%;
    font-size: 2.8rem;
    margin-bottom: 1em;
    color: var(--black);
    text-align: left;
  }
  body .body-content main .main-content .second-section .skills-container .skills span {
    color: var(--tag-color);
  }
  body .body-content main .main-content .second-section .skills-container .skills .skills-flex {
    color: #787878;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body .body-content main .main-content .second-section .skills-container .skills .second {
    gap: 0.8em 1.7em;
  }
  body .body-content main .main-content .second-section .skills-container img {
    display: none;
  }
  body .body-content main .main-content .third-section .talent .red-curve-line {
    position: absolute;
    left: 0;
    bottom: 50%;
    z-index: 1;
  }
  body .body-content main .main-content .third-section .talent .card-head h1 {
    font-size: var(--h1-fs-1200px);
  }
  body .body-content main .main-content .third-section .talent .card-container {
    width: 100%;
    display: grid;
    grid-template-areas: "people" "mech" "hands" "write" "many";
    grid-auto-flow: 1fr;
    gap: 1.5em;
  }
  body .body-content main .main-content .third-section .talent .card-container .people {
    grid-area: people;
  }
  body .body-content main .main-content .third-section .talent .card-container .mech {
    grid-area: mech;
  }
  body .body-content main .main-content .third-section .talent .card-container .hands {
    grid-area: hands;
  }
  body .body-content main .main-content .third-section .talent .card-container .write {
    grid-area: write;
  }
  body .body-content main .main-content .third-section .talent .card-container .many {
    grid-area: many;
  }
  body .body-content main .main-content .third-section .talent .btn-container .btn {
    padding: 0.8em 1.3em;
  }
}/*# sourceMappingURL=talent.css.map */